@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
